<div class="container">
    <div class="row">
        <h3 class="card-panel">Some Info</h3>
    </div>
    <div class="row">
        <div class="card-panel">
            <p>Messenger app is designed to communicate</p>
            <p>You must login in order to chat with other people</p>
            <p><i><em>Note:</em></i> The app is not free</p>
        </div>
    </div>


</div>