<div class="container">
    <div class="row">
        <h3 class="card-panel">Help Center</h3>
    </div>

    <div class="col s12 m6">
      <div class="card pink lighten-5">
        <div class="card-content white-text">
            <div class="row">
        <form class="col s12" action="/contactUs" method="POST">
            <div class="row">

                <div class="input-field col s12">
                    <input id="name" name="name" type="text" class="validate" autocomplete="off">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email"  name="email" type="email" class="validate" autocomplete="off"> 
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" name="message" class="materialize-textarea" autocomplete="off"></textarea>
                    <label for="textarea1">Message</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>
    </div>
            
        </div>
        
      </div>
    </div>
    
</div>