{{!-- <div class="row">
    <img src="/public/images/social.jpg" alt="chat" class="login-img">
</div>
<div class="row">

    <div class="center s8">
        <a href="/auth/facebook"><button class="btn btn-primary indigo btn-large pulse"><i class="social-media fab fa-facebook-f"></i>Login with facebook</button></a>
    </div>

</div>
<div class="row">
    <div class="center s8">
        <a href="/auth/google"><button class="btn mt-2 btn-large red pulse"><i class="social-media fab fa-google-plus-g"></i>Login with google</button></a>
    </div>

    
</div> --}}

  <div class="row home-container">
      <div class="col s7 home-img-section">
             <img src="/public/images/social.jpg" alt="chat" class="login-img">
      </div>
      <div class="col s5 m5 center login-img-section">
          
                <div class="row">
                    <a href="/auth/facebook"><button class="btn btn-primary indigo btn-large pulse"><i class="social-media fab fa-facebook-f"></i>Login with facebook</button></a>
                </div>
                 <div class="row">
                    <a href="/auth/google"><button class="btn mt-2 btn-large red pulse"><i class="social-media fab fa-google-plus-g"></i>Login with google</button></a>
                </div>
      </div>
    
    </div>
