<div class="container">
    <div class="row">
        <h3 class="card-panel">Yayy payment received !! You are the best.</h3>
    </div>
    <div class="row">
        <div class="card-panel">
            <p>You have been charged {{charge.currency}} {{charge.amount}}</p>
           <a href="/startChat/{{receiverSection.id}}"><button class="btn chat-btn light-green lighten-1"><span>Go to Chat</span><i
                                    class="pull-right fas fa-comment-dots"></i></button></a>
        </div>
    </div>


</div>