<div class="container">
    <div class="row">
        <h3 class="card-panel">Hey , welcome {{user.fullname}}</h3>
            <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="{{user.image}}">
                <span class="card-title"></span>
            </div>
            <div class="card-content teal white-text">
                {{user.fullname}}
            </div>
          
        </div>
    </div>
    </div>

</div>